.wrapper {
  width: 250px;
  background-color: rgba(256, 256, 256, 0.8);
  height: 100vh;
  padding: 1rem;
  border-right: solid 2px #333;
}

.createRoomWrapper {
  padding-bottom: 1rem;
  border-bottom: solid 1px #ccc;
}

.createRoomWrapper button,
.createRoomWrapper input {
  width: 100%;
}

.createRoomWrapper input {
  margin-bottom: 0.5rem;
}

.roomList {
  list-style: none;
  padding: 0;
}

.roomList li {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: grey;
  padding: 5px;
}

.roomList button {
  cursor: pointer;
}

.btnJoin {
  width: 100%;
  background-color: #333;
}
.btnLeave {
  color: red;
  font-weight: bold;
  background-color: #fff;
}

.roomList button:disabled {
  background-color: #ccc;
  cursor: default;
}
